.breakTimer {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(173, 125, 125);
    z-index: 2;
    width: 450px;
    max-width: 100%;
    height: 300px;
    max-height: 100%;
    border: 2px solid black;
    border-radius: 30px;
}

.breakTimer__timer {
    font-size: 80px;
    line-height: 20px;
}

.mainTimer {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.mainTimer__timer {
    margin-left: 30px;
    font-size: 40px;
}