.weatherCards {
    width: 250px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    transition: margin 2s;
    margin-right: -250px;
}

.weatherCards__content {
    position: relative;
    width: 250px;
    height: 100%;
}

.weatherCards__menuButton {
    position: absolute;
    top: 0;
    left: -46px;
    background-color: rgba(0, 0, 255, 0.178);
    &:hover {
        background-color: rgba(0, 0, 255, 0.301);
    }
}

.weatherCards__menuButtonImg {
    width: 30px;
    height: 30px;
}

.weatherCards_visible {
    margin-right: 0;
}